#login-from {
    display: flex;
    align-items: center;
    justify-content: center;
    /* 如果需要水平居中也可以添加这行 */
    height: 100vh;
    /* 设置高度占满整个视窗 */
    margin: 0 auto;
    width: 500px;
    height: 300px;
    padding: 15px;
}